.panel-heading {
    text-align: center;
}

.jumbotron {
    background-color: pink;
}


.display-4 {
    text-align: center;
    background-color: pink;
}

.gemImage {
    width: 100px;
}

.container {
    text-align: center;
}

#pink {
    height: 98px;
    width: 120px;
}

.card, .card-header, .card-body {
    text-align: center;
}