body {
    font-family: 'Assistant', sans-serif;
}

.panel-heading {
    text-align: center;
}

.jumbotron {
    background-color: black;
    margin-top: 20px;
    

      
}


.display-4 {
    text-align: center;
    color: white;
    background-color: black;
   
}

.gemImage {
    width: 100px;
}

.container {
    text-align: center;

}

#pink {
    height: 98px;
    width: 120px;
}

.card {
    text-align: center;
    
}

.card-header {
    background-color: black;
    color: white;
}