.panel-heading {
    text-align: center;
}

.display-4 {
    text-align: center;
    background-color: pink;
}

.gemImage {
    width: 100px;
}

#pink {
    height: 120px;
    width: 122px;
    margin-top: 30px;
}

#yellow {
    margin-top: 30px;
    height: 150px;
    
}